##7. 데이터프레임 합치기
- concat()
- merge()

In [ ]:
import pandas as pd

titanic = pd.read_csv('titanic.csv')
titanic

In [ ]:
# 타이타닉에서 일부만 추출하여 별도로 저장

train_1000=titanic.iloc[:1000]
test_309=titanic.iloc[1000:]

len(train_1000), len(test_309)

(156, 0)

In [ ]:
# 메모리에 자료 저장
train_1000.to_csv('train_1000.csv')
test_309.to_csv('test_309.csv')

In [ ]:
pd.read_csv('train_1000.csv')

###데이터 합치기: concat 함수

In [ ]:
# 위 아래로 붙이기 : 아래로

total_df=pd.concat([train_1000, test_309])  # 기본옵션 axis=0

total_df

In [ ]:
# 좌우로 붙이기 : 옆으로

total_df=pd.concat([train_1000, test_309])
total_df=pd.concat([train_1000, test_309], axis=1)
total_df

###데이터프레임 병합  : merge 함수

In [ ]:
# 실습의 편의를 위해 몇개 컬럼 추출
import pandas as pd

df1=train_1000[['name', 'pclass', 'sex', 'age']]
df1

In [ ]:
df2=train_1000[['name', 'survived']]
df2

In [ ]:
# name을 기준으로 inner 병합함
# 두 데이터프레임의 같은 컬럼의 값으로 머지

merge_inner=pd.merge(df1, df2)
merge_inner

In [ ]:
# 머지 결과가 1000 -> 1004 ??
# 동일이름 확인

df1['name'].value_counts()

In [ ]:
#  머지 실습을 위해서 자료를 적게 만들고 임의의 데이터를 줘보자
#  how='inner' :
#  일반 조인 : 매칭되는 것만 포함

df2.loc[[0,2,3], ['name']] = ''
df2=df2[:10]
df1=df1[:10]
merge_inner=pd.merge(df1, df2, how='inner', on='name')
merge_inner

# 자료가 10개 인데 ... ? 값이 없으면 머지하지 않음  10 - 3 = 7개 결과

In [ ]:
# 머지에 참여하지 않은 값도 포함
# outer 조인

merge_outer = pd.merge(df1,df2, how='outer',on='name')
merge_outer

In [ ]:
# 두 자료의 컬럼이 다를 경우 -> 흔히 있다.
# 머지할 컬럼의 이름을 지정

merge_left=pd.merge(df1, df2, how='left', left_on='name', right_on='name')

merge_left

In [ ]:
# right outer 조인

merge_right=pd.merge(df1, df2, how='right', left_on='name', right_on='name')
merge_right

#Section 03. 조건 검색으로 데이터 추출
## 1. 불 인덱스로 조건 검색하기

In [ ]:
import pandas as pd

df = pd.read_csv('titanic.csv')
df

In [ ]:
df[df['age']>70] # 70세 이상인 승객 검색

In [ ]:
df[df['age']<3] # 3세 미만인 승객 검색

In [ ]:
df[df['age']<3]['name'] # 3세 미만 승객의 이름 검색

In [ ]:
df[df['age']<3][['age', 'name']]

##2. loc 속성으로 조건 검색하기

In [ ]:
df.loc[df['age']<3]['name'] # 3세 미만 승객의 이름 검색

In [ ]:
df.loc[df['age']<3, 'name':'sex']

In [ ]:
# 조건이 여러개
# &, |, ~

df.loc[ (df['age'] < 3) &  (df['survived']== 1), ['name', 'sex', 'age','survived']]

In [ ]:
a=df['embarked'].unique( )
a

## 셀프 테스트

In [ ]:
# 데이터프레임 생성

import pandas as pd

df1 = pd.DataFrame({'name' : ['Minsoo','Minju','Yeomin','Hyeri','Junghun','Sunny','Bummee','Luna'],
                   'old'  : [33,25,19,25,32,36,23,36],
                   'sex'  : ['M','W','W','W','M','W','M','W'],
                   'score1': [91,50,69,98,72,85,43,61],
                   'score2': [65,77,56,82,79,91,71,63],
                   'time' : [30,95,64,88,34,69,15,25],
                   })
df1

      name  old sex  score1  score2  time
0   Minsoo   33   M      91      65    30
1    Minju   25   W      50      77    95
2   Yeomin   19   W      69      56    64
3    Hyeri   25   W      98      82    88
4  Junghun   32   M      72      79    34
5    Sunny   36   W      85      91    69
6   Bummee   23   M      43      71    15
7     Luna   36   W      61      63    25

In [ ]:
# 나이가 30대 이상인 조건 추출하기

In [ ]:
# 여성 중에 score1이 70점 미만인 조건 추출하기

In [ ]:
# score1이나 score2 둘 중 하나가 80점 이상인 조건 추출하기

In [ ]:
# 나이가 20대이거나 문제를 푸는데 걸리는 시간이 40초보다 짧은 조건 추출하기

In [ ]:
# 깔끔하게 조건을 저장하고 사용하면 편하다.

con1 = (df1['sex']=='W')
con2 = (df1['score1']<70)

# df1[ con1 & con2 ]
# df1[ con1 | con2 ]
# df1[ ~con1]

df1[~ ( con1 & con2 ) ]