#Section01. 파일처리
## 1. 파이썬에서 파일 처리
### 파일열기 : open 함수

In [ ]:
f=open('file.txt', 'rt', encoding='UTF8')
for line in f:
    print(line, end="")

###자동으로 파일 열고 닫기: with 문

In [ ]:

with open("proverb.txt",'r', encoding='UTF8', newline='') as filereader:
  for row in filereader:
    print(row.strip())

###여러 파일 읽기: os와 glob 모듈
- 폴더 내의 텍스트 파일 여러개를 모두 읽어서 출력

In [ ]:
import os
import glob

for file in glob.glob(os.path.join('*.txt')):
  with open(file, 'r', newline='',encoding='UTF8') as filereader:
      for row in filereader:
        print("{}".format(row.strip( )))

In [ ]:
# 셀프 스터디

# 폴더 안의 모든 파일의 내용을 묶어서 파일로 출력

import os
import glob

 # 위 코드 활용

### 문자열 공백/문자 제거: strip, lstrip, rstrip 함수

In [ ]:
b1=" 작은 일에 성실한 사람은      큰일에도 성실하고 "
b1.strip( ) # 앞뒤의 불필요한 공백 제거

In [ ]:
text="....작은 일에 성실한 사람은, 큰일에도 성실하고...."
print(text.lstrip('.'))
print(text.rstrip('.'))
print(text.strip('.'))

###문자열 분리: split 함수

In [ ]:
text="....작은 일에 성실한 사람은, 큰일에도 성실하고...."
print(text.split(", "))

# 결과를 리스트로 저장

In [ ]:
numbers= "1. 2. 3. 4. 5. 6"   # 실수가 아니고 문자열
result=numbers.split(". ")
print(result)

###웹 페이지에서 CSV 파일 가져오기

In [ ]:
import pandas as pd

titanic_df=pd.read_csv('https://raw.githubusercontent.com/sehakflower/data/main/titanic.csv')
titanic_df

###탭을 기준으로 분리하기

In [ ]:
url='https://raw.githubusercontent.com/sehakflower/data/main/titanic.csv'
titanic_df=pd.read_csv(url, sep='\t')   # \t -> 탭으로 구분하여 가져오기
titanic_df

###<여기서 잠깐> 데이터 분리하기

In [ ]:
print('apple', 'banana')
print('apple', 'banana', sep='')
print('apple', 'banana', sep='  ')
print('apple', 'banana', sep=' -> -> ')
print('apple', 'banana','eggs', 'ham')
print('apple', 'banana', 'eggs', 'ham', sep='\t')
print('apple', 'banana', 'eggs', 'ham', sep='\t\t')

###엑셀 파일 가져오기

#Section 02. 데이터 처리
## 1. 데이터 살펴보기
### 앞뒤 데이터 보기: head, tail 함수

In [ ]:
# 링크에서 가져온 타이타닉 데이터
# head()  : 위쪽에석 5행
titanic_df.head(7)

In [ ]:
titanic_df.tail(7)

###데이터 개수/형태 확인하기: len/shape 함수

In [ ]:
len(titanic_df)

156

In [ ]:
titanic_df.shape

(156, 12)

###결측치와 데이터형 확인하기: info 함수

In [ ]:
# 다양한 정보 확인 가능
# 자료구조 / 크기 / 컬럼명 / 널 정보 / 데이터 타입

titanic_df.info( )

###데이터의 기본 통계치 보기: describe 함수

In [ ]:

titanic_df.describe( )

##2. 열/행 정리하기
###열 이름 변경하기

In [ ]:
titanic_df.columns

In [ ]:
# 컬럼명 일괄적으로 한번에 다 변경

new_columns=['passengerId', 'survived', 'pclass', 'name', 'sex', 'age', 'sibsp', 'parch',
'ticket', 'fare', 'cabin', 'embarked']

titanic_df.columns=new_columns
titanic_df.columns

In [ ]:
titanic_df

###데이터프레임 복사하기

In [ ]:
# 실습을 위해 복사본을 만들자

copy_titanic_df=titanic_df.copy( )

df=titanic_df.copy( )

copy_titanic_df.head( )

###행 추가하기
- .loc[]=[]  1개 행 추가
- .cancat() 으로 여러행 추가
- .concat()과 .iloc[:] 원하는 위치에 행 추가하기

In [ ]:
copy_titanic_df

In [ ]:
# 행 추가
# 딕셔너리 자료를 추가

copy_titanic_df.loc[len(copy_titanic_df)] = ( {   'passengerId':1, 'survived':1, 'pclass':1, 'name':1, 'sex':1,'age':1,
                                                  'sibsp':1, 'parch':1, 'ticket':1, 'fare':1, 'cabin':1, 'embarked':1}   )

copy_titanic_df

In [ ]:
# 행 추가
# 리스트 자료를 추가  : 갯수가 맞아야 한다. (12개) // 안맞으면 오류

copy_titanic_df.loc[len(copy_titanic_df)] = [1,1,1,1,1,1,1,1,1,1,1,1]

copy_titanic_df.tail()

###열 추가하기

In [ ]:
# 열 추가하기

copy_titanic_df['gender']=1
copy_titanic_df.tail( )

In [ ]:
# 열값 변경
# 바로 뒤에 행열 추출, 조건 추출  학습함

copy_titanic_df.loc[copy_titanic_df['sex']=='female', 'gender'] = 0
copy_titanic_df.head( )

##3. 인덱스 정리하기
###index 속성

In [ ]:
titanic_df.index

###values 속성

In [ ]:
titanic_df.values

##4. 데이터 정렬하기
- 인덱스 기준으로 정렬하기

- 앞부분에서 학습했으므로 가볍게 넘어가자

In [ ]:
titanic_df.sort_index( )   # 인덱스 값을 정렬

###열 기준으로 정렬하기

In [ ]:
titanic_df.sort_values(by='age') # 오름차순 정렬
titanic_df.sort_values(by='age', ascending=False) # 내림차순 정렬

In [ ]:
titanic_df.sort_values(by=['age', 'pclass']) # 오름차순 정렬

In [ ]:
titanic_df.sort_values(by=['age', 'pclass'], ascending=False) # 내림차순 정렬

In [ ]:
# 두개 컬럼으로 정렬
titanic_df.sort_values(by=[ 'pclass','age'], ascending=[True,False]) # 내림차순 정렬

##5. 데이터 가져오기
### 원하는 컬럼의 값 가져오기

In [ ]:
# 데이터프레임에서 한개 컬럼의 값을 추출 -> 시리즈  ==> [['컬럼명]] -> 데이터프레임이 된다
# 데이터프레임에서 여러개 컬럼의 값을 추출 -> 데이터프레임

# 한개 컬럼의 값 가져오기

a=titanic_df['age'] # Series 객체는 1차원 배열(ndarray)과 호환됨
print(type(a))
a

In [ ]:
a=titanic_df[  ['age']  ]
a

In [ ]:
# 여러개 컬럼의 값 가져오기 -> 컬럼명 사용

a = titanic_df[ ['age', 'name', 'sex','fare'] ]   # ***
a

      age                                               name     sex     fare
0    22.0                            Braund, Mr. Owen Harris    male   7.2500
1    38.0  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  71.2833
2    26.0                             Heikkinen, Miss. Laina  female   7.9250
3    35.0       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  53.1000
4    35.0                           Allen, Mr. William Henry    male   8.0500
..    ...                                                ...     ...      ...
151  22.0                  Pears, Mrs. Thomas (Edith Wearne)  female  66.6000
152  55.5                                   Meo, Mr. Alfonzo    male   8.0500
153  40.5                    van Billiard, Mr. Austin Blyler    male  14.5000
154   NaN                              Olsen, Mr. Ole Martin    male   7.3125
155  51.0                        Williams, Mr. Charles Duane    male  61.3792

[156 rows x 4 columns]

## 행의 값 가져오기  --> 슬라이싱 사용 가능
- df[시작행 : 끝행+1]
- df[시작행 : 끝행+1, 간격]

In [ ]:
titanic_df.index[100] # 원하는 행의 정보

100

In [ ]:
titanic_df[100:101] # 원하는 행의 정보

In [ ]:
titanic_df[50:61]

In [ ]:
titanic_df[::10] # 10개씩 건너서 출력함

###열 이름과 위치를 이용해 데이터 가져오기

In [ ]:
# 추천 안합니다~
print(titanic_df[titanic_df.columns[0]][0]) # 첫 번째 열의 첫 번째 값
print(titanic_df['age'][0]) # age 열의 첫 번째 값
print(titanic_df[titanic_df.columns[0]][2])
print(titanic_df[titanic_df.columns[-1]][0])
type(titanic_df[titanic_df.columns[0]][0]) # str

In [ ]:
# 추천 안합니다~
titanic_df[titanic_df.columns[0]][2:6] # 2번부터 5번 행까지
titanic_df[titanic_df.columns[0]][:-1] # 마지막 행 제외
titanic_df[titanic_df.columns[0]][::3] # 3개의 step으로 슬라이싱
titanic_df[titanic_df.columns[0]][-1:] # 마지막 행만 추출
titanic_df[titanic_df.columns[0]][::-1] # 행을 역순으로 출력

In [ ]:
# 추천 안합니다~
titanic_df[['pclass', 'name', 'sex']] # DataFrame 추출
titanic_df[[titanic_df.columns[2],titanic_df.columns[3],titanic_df.columns[4]]]
 # DataFrame 추출

In [ ]:
# 추천 안합니다~
titanic_df[[titanic_df.columns[2],titanic_df.columns[3],titanic_df.columns[4]]][2:15:3]
# 슬라이싱

## 이름을 기준으로 데이터 가져오기 : loc
- df.loc[시작인덱스명 : 종료인덱스명  : 간격 ]  -> 종료인덱스까지포함 // 모든 컬럼

- df.loc [ : , : ]   -> df.loc[행에대한범위, 열에대한범위 ]

In [ ]:
titanic_df.loc[0]

In [ ]:
titanic_df.loc[0:5]

In [ ]:
titanic_df.loc[0:10:2]

In [ ]:
# df.loc[ : ]

titanic_df.loc[:, 'age']

In [ ]:
titanic_df.loc[:, ['age', 'sex']]

In [ ]:
titanic_df.loc[3:7, ['age', 'sex']]    # 떨어져 있는 컬럼 하나씩

In [ ]:
titanic_df.loc[2:5, 'survived':'age']  # 붙여 있는  컬럼 연속으로

###인덱스 순서를 기준으로 데이터 가져오기: iloc 속성
df.iloc [ : , : ] -> df.loc[행에대한범위, 열에대한범위 ]

In [ ]:
titanic_df.iloc[0]

In [ ]:
titanic_df.iloc[0:5]   # 1~ 5 전까지

In [ ]:
titanic_df.iloc[0:10:3]

In [ ]:
# 전체 행에 대하여 0, 2 번째 컬럼의 값

titanic_df.iloc[:, [0, 2]]

In [ ]:
titanic_df.iloc[1:5, 1:4]